<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= text %></h1>
    <p>Name:<%= data.firstname %> <%= data.lastname %></p>
    <p>ID: <%= data.number %></p>
    <p>Department: <%= data.department %></p>
    <p>Salary: <%= data.salary %> € </p>
    <ul>
      <!-- this line will not have = because it is javacript line, the <h1> have = because we insert the data into it -->
      <% nameArray.forEach( item=>{
      if(item !=='Mike'){%>
        <li><%= item%></li>
      <% }}); %>
    </ul>
  </body>
</html>
